.maincolor {
	background: rgb(13, 19, 33);
}

.secondcolor {
	background: rgb(240, 235, 216);
}

.link {
	opacity: 75px;
	color: rgb(240, 235, 216);
	text-decoration: none;
	font-size: 20px;
}

.color3 {
	background-color: rgb(29, 45, 68);
}

.color4 {
	background-color: rgb(62, 92, 118);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

/* Underline styles */
		.linkd {
		  display: block;
		  position: relative;
		}

		/* Fade in */
		.linkd::after {
		  content: '';
		  position: absolute;
		  bottom: 25px;
		  left: 100px;
		  width: 55px;
		  height: 0.1em;
		  background-color: rgb(240, 235, 216);
		  opacity: 0;
		  transition: opacity 300ms, transform 300ms;
		}

		.linkd:hover::after,
		.linkd:focus::after {
		  opacity: 1;
		  transform: translate3d(0, 0.2em, 0);
		}

		.linkd2 {
		  display: block;
		  position: relative;
		}

		/* Fade in */
		.linkd2::after {
		  content: '';
		  position: absolute;
		  bottom: 25px;
		  left: 100px;
		  width:88px;
		  height: 0.1em;
		  background-color: rgb(240, 235, 216);
		  opacity: 0;
		  transition: opacity 300ms, transform 300ms;
		}

		.linkd2:hover::after,
		.linkd2:focus::after {
		  opacity: 1;
		  transform: translate3d(0, 0.2em, 0);
		}

		.linkd3 {
		  display: block;
		  position: relative;
		}

		/* Fade in */
		.linkd3::after {
		  content: '';
		  position: absolute;
		  bottom: 25px;
		  left: 100px;
		  width:70px;
		  height: 0.1em;
		  background-color: rgb(240, 235, 216);
		  opacity: 0;
		  transition: opacity 300ms, transform 300ms;
		}

		.linkd3:hover::after,
		.linkd3:focus::after {
		  opacity: 1;
		  transform: translate3d(0, 0.2em, 0);
		}